
SIinformer/bin
SIinformer/obj
SIinformer/Resources/Thumbs.db
SIinformer_vs2010.suo
SIinformer/Resources/Thumbs.db
SIinformerImport/_ReSharper.SIinformerImport/WebsiteFileReferences/.version
Deployment/SIinformer.exe
SIinformer.4.5.resharper.user
SIinformer.suo
SIinformer/SIinformer.csproj.user
SIinformerImport/_ReSharper.SIinformerImport/CachesImage.bin
SIinformerImport/_ReSharper.SIinformerImport/ProjectModel/ProjectModel.dat
SIinformerImport/_ReSharper.SIinformerImport/TodoCache/.version
SIinformerImport/_ReSharper.SIinformerImport/TodoCache/6/781d6813.dat
SIinformerImport/_ReSharper.SIinformerImport/WordIndex.New/.version
SIinformerImport/_ReSharper.SIinformerImport/WordIndex.New/3/1f318bdf.dat
SIinformerImport/_ReSharper.SIinformerImport/Xaml/CacheProvider.dat
SIinformerImport/SIinformerImport.4.5.resharper.user
SIinformerImport/SIinformerImport.suo
SIinformerImport/SIinformerImport/bin/Release/Author.sdf
SIinformerImport/SIinformerImport/bin/Release/authorts.xml
SIinformerImport/SIinformerImport/bin/Release/Interop.SSCE.dll
SIinformerImport/SIinformerImport/bin/Release/SIinformerImport.exe
SIinformerImport/SIinformerImport/bin/Release/SIinformerImport.pdb
SIinformerImport/SIinformerImport/bin/Release/SIinformerImport.vshost.exe
SIinformerImport/SIinformerImport/bin/Release/SIinformerImport.vshost.exe.manifest
SIinformerImport/SIinformerImport/bin/Release/sqlceca35.dll
SIinformerImport/SIinformerImport/bin/Release/sqlcecompact35.dll
SIinformerImport/SIinformerImport/bin/Release/sqlceer35EN.dll
SIinformerImport/SIinformerImport/bin/Release/sqlceer35RU.dll
SIinformerImport/SIinformerImport/bin/Release/sqlceme35.dll
SIinformerImport/SIinformerImport/bin/Release/sqlceoledb35.dll
SIinformerImport/SIinformerImport/bin/Release/sqlceqp35.dll
SIinformerImport/SIinformerImport/bin/Release/sqlcese35.dll
SIinformerImport/SIinformerImport/bin/Release/System.Data.SqlServerCe.dll
SIinformerImport/SIinformerImport/bin/Release/System.Data.SqlServerCe.Entity.dll
SIinformerImport/SIinformerImport/obj/Debug/SIinformerImport.csproj.FileListAbsolute.txt
SIinformerImport/SIinformerImport/obj/Debug/SIinformerImport.exe
SIinformerImport/SIinformerImport/obj/Debug/SIinformerImport.pdb
SIinformerImport/SIinformerImport/obj/Release/Interop.SSCE.dll
SIinformerImport/SIinformerImport/obj/Release/ResolveAssemblyReference.cache
SIinformerImport/SIinformerImport/obj/Release/SIinformerImport.csproj.FileListAbsolute.txt
SIinformerImport/SIinformerImport/obj/Release/SIinformerImport.csproj.ResolveComReference.cache
SIinformerImport/SIinformerImport/obj/Release/SIinformerImport.exe
SIinformerImport/SIinformerImport/obj/Release/SIinformerImport.pdb