<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://188.127.242.68/SIInformer/AutoupdateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="SIinformer.exe" lastver="1.0.0.7" size="637952" />
  </UpdateFileList>
</Config>